{
  "plugins": [
    [
      "babel-plugin-transform-class-properties",
      {
        "spec": true
      }
    ]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 versions"
          ]
        },
        "modules": "commonjs"
      }
    ],
    "@babel/preset-react"
  ]
}