@media only screen
and (min-width: 0) {
    .form-block {
        display: block;
        position: relative;
        width: 100%;
        font-family: Roboto, sans-serif;
        font-weight: 400;
    }

    .form-block fieldset {
        border: none;
        border-radius: 3px;
        padding-top: 5%;
        padding-bottom: 5%;
        background-color: rgba(255, 255, 255, 0.81);
        box-shadow: 1px 1px 20px rgba(22, 128, 169, 0.87);
    }

    .input-block {
        position: relative;
        display: block;
        width: 100%;
        padding-bottom: 2%;
    }

    .input-block label {
        position: relative;
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }

    .input-block input {
        position: relative;
        display: inline-block;
        width: 97%;
        max-width: 100%;
        height: 33px;
        border-radius: 3px;
        box-shadow: #d3d3d3 1px 1px 5px;
        border: solid 1px #778899;
        padding-left: 2%;
        align-self: center;
        justify-self: center;
        outline: none;
    }

    .input-block input:focus {
        box-shadow: #1057ff 0 0 5px;
    }

    .input-block input:focus:invalid  {
        box-shadow: red 0 0 5px;
    }

    .success {
        display: block;
        position: relative;
        width: 100%;
        text-align: center;
    }

    .remember-block {
    }

    .button-block {
        display: block;
        width: 100%;
        padding-top: 2%;
    }

    .button {
        position: relative;
        display: block;
        width: 100%;
        height: 33px;
        border-radius: 3px;
        box-shadow: #d3d3d3 1px 1px 5px;
        border: solid 1px #778899;
        background-color: rgba(22, 128, 169, 0.87);
        outline: none;
        color: white;
    }

    .button:hover {
        background-color: rgba(22, 128, 169, 0.66);
    }
}

@media only screen
and (min-width: 768px)
and (max-width: 1024px) {
    .form-block {
        display: block;
        position: relative;
        width: 50%;
        padding: 5% 25% 5% 25%;
    }

    .form-block fieldset {
        padding: 8% 10% 10% 10%;
        border-radius: 3px;
        background-color: white;
    }
}

@media only screen
and (min-width: 1024px) {
    .form-block {
        width: 50%;
        padding: 5% 25% 5% 25%;
    }

    .form-block fieldset {
        padding: 8% 10% 10% 10%;
        border-radius: 3px;
        background-color: white;
    }

    .input-block {
        display: flex;
        padding-bottom: 5%;
    }

    .input-block label {
        width: 25%;
        align-self: center;
    }

    .input-block input {
        width: 75%;
        align-self: center;
    }

    .remember-block {
        display: inline-block;
        width: 50%;
        height: 40px;
        padding-top: 2%;
    }

    .button-block {
        display: inline-block;
        width: 38%;
        float: right;
    }

    .button {
        height: 40px;
    }
}

input[type="checkbox"]:before {
    position: relative;
    display: block;
    width: 12px;
    height: 12px;
    border: 1px solid #778899;
    content: "";
    background: #FFF;
}

input[type="checkbox"]:after {
    position: relative;
    display: block;
    left: 1px;
    top: -15px;
    width: 15px;
    height: 15px;
    border-style: none;
}

input[type="checkbox"]:checked:after {
    font-size: 15px;
    content: "✓";
}
